@font-face {
    font-family: roboto;
    src: url(./Roboto/Roboto-Black.ttf);
}
/* introduces font */
*{
    margin: 0;
    padding: 0%;
    font-family: roboto;
    color: white;
    text-decoration: none;
}
/* sets font color,family,and removes text dec */

.nav {
    display: flex;
    background-color: rgb(46, 44, 44);
    justify-content: space-between;
    border: 1px solid wheat;
    gap: 5px;
    flex-direction: row;
    padding: 10px;
}
/* set nav */

ul {
    display: flex;
}
/* makes ul display li side by side */
li{
    list-style: none;
    margin: 10px;
    
}
/* removes list stiles and sets margin for li */

.btn{
    background-color: rgb(0, 225, 255);
    border: 2px solid black;
    box-shadow: 5px 5px black;
    margin: 5px;    
}
/* desing for btn class */

.btn:hover{
    cursor: pointer;
    background-color: aqua;
}
/* what happens what btn is hovered */

li a:hover{
    color: rgb(138, 58, 58);
    cursor: pointer;
}
/* what happens when li is hovered */

h1{
    margin-left: 20px;
    /* flex: 1; */
    /* flex: overries jsutify content */
    /* why does this work?/ why does this bring it to the front? */

}